/** {
  border: 1px solid black;
}*/

body {
  text-align: center;
  background-color: #BCAB79;
  font-family: Impact, Charcoal, sans-serif;
  color: #253031;
}

.title-area {
  background-color: #2978A0;
  text-shadow: -1px 1px #C6E0FF,
               -1px -1px #C6E0FF,
               1px -1px #C6E0FF,
               1px 1px #C6E0FF;
}

button#start,
button#submit {
  margin-top: 10px;
  background-color: #2978A0;
  font-size: 20px;
  font-weight: bold;
  color: #253031;
  text-shadow: 1px 1px #C6E0FF;
}

button#start:hover,
button#submit:hover {
  background-color: #253031;
  color: #2978A0;
  text-shadow: none;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li span {
  margin: 0px 10px 10px 3px;
  font-size: 20px;
  justify-content: flex-start;
}

.questions {
  text-align: justify;
}

#C-Sharp,
#Java,
#PHP,
#Ruby,
#CSS {
  display:  none;
}

label {
  font-size: 20px;
}

li {
  display: inline-flex;
}
.blue_dot {
	height: 20px;
	width: 20px;
	border: 2px solid #2978A0;
	border-radius: 50%;
  margin-top: 4px;
}

.blue_fill {
	background: radial-gradient(#2978A0 55%, silver 5%);
}

li input[type="radio"] {
  opacity: 0;
  height: 20px;
	width: 20px;
  margin-right: -20px;
  z-index: 99;
}

li input[type="radio"]:hover {
  cursor: pointer;
}

#users-name {
  color: #315659;
}

.red {
  color: #cc0202;
}

.error {
  font-size: 15px;
}
